@charset "utf-8";

// Character classes
.mm-player {
    background-color:green;
}

.mm-greymummy {
    background-color:gray;
}

.mm-redmummy {
    background-color:red;
}

table {
    display:inline-block;
}

th {
    width: 30px;
    height: 30px;
}

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";