@charset "utf-8";

// Table styles
$cell-size: 55px;

table {
    display:inline-block;
}

th {
    width: $cell-size;
    height: $cell-size;
}

// Walls
$wall-thickness: 5px;
.wall-left {
    border-left: $wall-thickness solid black !important;
}
.wall-right {
    border-right: $wall-thickness solid black !important;
}
.wall-top {
    border-top: $wall-thickness solid black !important;
}
.wall-bottom {
    border-bottom: $wall-thickness solid black !important;
}

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";